@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "bootstrapVars";

html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.full-height{
  height: 100%;
}

.navbar-brand{
  padding: $navbar-height/2 15px;
}

@for $i from 1 through 6 {
    h#{7 - $i}.center {
      text-align: center;
    }
}
