<!DOCTYPE html>
<html lang="en">
  <head>
  <title>RateThisBuilding</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe03O-l51hy1W09N3xq8lmHceNtJrEunk">
  </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
