<!DOCTYPE html>
<html lang="en">
  <head>
  <title>App haHAa</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
  </body>
  {{{body}}}
  <script src="/bundle.js"></script>
</html>
